@use "src/styles/theme";

.main {
  background-image: url(../../../../static/img/home/stats/trophies1.jpg);
  background-position: center;
  height: 800px;
  display: grid;
  place-items: center;
}

.circle {
  background-color: rgba(theme.$color-black, 0.667);
  color: rgba(theme.$color-white, 1);
  backdrop-filter: blur(2px);

  width: 200px;
  height: 200px;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.num {
  font-size: 50px;
}

@media (min-width: 996px) {

}