.logo {
  max-width: 150px;
}

.row {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  overflow: scroll;
  gap: 50px;
  height: 200px;
}

.images {
  height: 300px;
  max-width: initial; /* Infima CSS reset sets this to max-width: 100%; */
}

.awardListing {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: left;
  gap: 10px;
}

@media (min-width: 996px) {
  .row {
    padding-right: -200px;
    flex-direction: row;
    gap: 50px;
  }

  .details {
    min-width: 300px;
    max-width: 300px; /* different from width: 300px */
    text-align: right;
  }

  .images {
    height: 100%;
  }

  .awardListing {
    flex-direction: row;
    justify-content: right;
  }
}