.header {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  height: 400;

  background-position: center;
  background-size: cover;
  color: white;
}

.title {
  font-family: "Ethnocentric", var(--ifm-heading-font-family);
  font-style: italic;
  font-weight: 700;
}

.tagline {
  max-width: 50ch;
}

.indicator {
  width: 180px;
  height: 7px;
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.indicator span {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: #ffffff44;
}

@media (min-width: 996px) {
  .header {
    padding: 3rem 100px;
  }
}