.header {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  height: 400;

  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../../static/img/roborm/awards1.jpg');
  background-position: center;
  color: white;
}

.title {
  font-family: "Ethnocentric", monospace;
  font-weight: 700;
}

.tagline {
  max-width: 50ch;
}

@media (min-width: 996px) {
  .header {
    padding: 3rem 100px;
  }
}