$color-primary: #e70033 !default;
$color-primary-dark: #db0030 !default;
$color-primary-darker: #cb0023 !default;
$color-primary-darkest: #a60017 !default;
$color-primary-light: #f54f6d !default;
$color-primary-lighter: #f86882 !default;
$color-primary-lightest: #ff9fad !default;

$color-red: $color-primary;
$color-blue: #0078C9;
$color-yellow: #F9DA57;
$color-green: #27AE60;
$color-purple: #9B51E0;
$color-orange: #F2994A;
$color-black: #050505;
$color-white: #FAFAFA;
$color-grey: #5F6A72;