$color-primary: #e70033 !default;
$color-primary-dark: #db0030 !default;
$color-primary-darker: #cb0023 !default;
$color-primary-darkest: #a60017 !default;
$color-primary-light: #f54f6d !default;
$color-primary-lighter: #f86882 !default;
$color-primary-lightest: #ff9fad !default;

$color-red: $color-primary;
$color-blue: #0078C9;
$color-yellow: #F9DA57;
$color-green: #27AE60;
$color-purple: #9B51E0;
$color-orange: #F2994A;
$color-black: #050505;
$color-white: #FAFAFA;
$color-grey: #5F6A72;

$shadows: ( // shadows from Tailwind CSS
  "1": "0 1px 2px 0 rgb(0 0 0 / 0.05)",
  "2": "0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)",
  "3": "0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)",
  "4": "0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)",
  "5": "0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)",
  "6": "0 25px 50px -12px rgb(0 0 0 / 0.25)",
  "inner": "inset 0 2px 4px 0 rgb(0 0 0 / 0.05)",
  "none": "0 0 #0000"
);

@mixin shadow-modifiers {
  @each $name, $shadow in $shadows {
    &--#{$name} {
      box-shadow: #{$shadow};
    }
  }
}
.shadow {
  @include shadow-modifiers;
} // this creates classes .shadow-{shadowName} for every shadowName in $shadows

:root {
  --ifm-global-shadow-lw: #{map-get($shadows, "1")};
  --ifm-global-shadow-md: #{map-get($shadows, "3")};
  --ifm-global-shadow-tl: #{map-get($shadows, "5")};

  @each $name, $shadow in $shadows {
    --shadow-#{$name}: #{$shadow};
  }
}

