$color-primary: #e70033 !default;
$color-primary-dark: #db0030 !default;
$color-primary-darker: #cb0023 !default;
$color-primary-darkest: #a60017 !default;
$color-primary-light: #f54f6d !default;
$color-primary-lighter: #f86882 !default;
$color-primary-lightest: #ff9fad !default;