@use "src/styles/theme";

.main {
  background-image: url(../../../../static/img/home/intro/whitewall_seamless.jpg);
  background-size: clamp(400px, 50%, 500px);
  color: theme.$color-black;
  height: 400px;
  display: grid;
  place-items: center;
}

.image {
  max-width: 100px;
}

.image:hover {
  filter: brightness(0.8);
  transition: all 250ms ease-in-out;
}

@media (min-width: 996px) {

}