@use "src/styles/theme";

.main {
  background-color: theme.$color-white;
  height: 400px;
  display: grid;
  place-items: center;
}

.circle {
  background-color: #ffffffaa;
  backdrop-filter: blur(2px);

  width: 200px;
  height: 200px;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.num {
  font-size: 50px;
}

@media (min-width: 996px) {

}