@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_100i.otf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_100n.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_200i.otf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_200n.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_300i.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_300n.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_400i.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_400n.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_700i.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Ethnocentric;
  src: url(../../static/fonts/Ethnocentric/Ethnocentric_700n.otf);
  font-weight: 700;
  font-style: normal;
}