@use "src/styles/theme";

.main {
  background-image: url(../../../../static/img/home/intro/whitewall_seamless.jpg);
  background-size: clamp(400px, 50%, 500px);
  color: theme.$color-black;
  height: 300px;
  display: grid;
  place-items: center;
}

.box {
  width: 90%;
  background-color: theme.$color-red;
  color: theme.$color-white;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
}


@media (min-width: 996px) {
  .box {
    padding: 30px 20px;
  }
}