@use "src/styles/theme";

.head {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.content {
  font-size: 20px;
  font-family: "Ethnocentric";
}

.content > span {
  font-weight: bold;
  font-style: italic;
}

.mission .content > span {
  background-color: rgba(theme.$color-red, 0.4);
}

.vision .content > span {
  background-color: rgba(theme.$color-blue, 0.4);
}

.values .content > span {
  background-color: rgba(theme.$color-yellow, 0.4);
}

.section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../../static/img/home/intro/brick_seamless.jpg);
  background-size: clamp(400px, 50%, 500px);
  color: #fff;
  display: grid;
  grid-template: repeat(6, auto) / 1fr;
  align-items: center;
}


@media (min-width: 996px) {
  .content {
    font-size: 30px;
  }

  .section {
    grid-template: repeat(3, auto) / repeat(3, 1fr);
  }
}