@use "src/styles/theme";

.head {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.content {
  font-size: 20px;
  font-family: "Ethnocentric";
}

.content > span {
  background-color: rgba(theme.$color-primary, 0.4);
  font-weight: bold;
  font-style: italic;
}

.section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../../static/img/home/intro/brick_seamless.jpg);
  background-size: clamp(400px, 50%, 500px);
  color: #fff;
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3, );
  grid-template: 
            "m2 m1 m1" auto
            "v2 v1 v1" auto
            "c1 c2 c3" auto / 1fr 1fr 1fr;
  align-items: center;
}


@media (min-width: 996px) {
  .content {
    font-size: 30px;
  }
}